@font-face {
  font-family: 'Raleway';  

  src:  local('Raleway-Regular'), 
        local('raleway-regular'),
        url(/fonts/Raleway-Regular.woff2) format('woff2'),
        url(/fonts/Raleway-Regular.ttf) format('truetype');
      
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: 'Raleway';  

  src:  local('Raleway-Medium'), 
        local('raleway-medium'),
        url(/fonts/Raleway-Medium.woff2) format('woff2'),
        url(/fonts/Raleway-Medium.ttf) format('truetype');
      
  font-weight: 500;
  font-style: normal;
}


@font-face {
  font-family: 'Raleway';  

  src:  local('Raleway-Bold'), 
        local('raleway-bold'),
        url(/fonts/Raleway-Bold.woff2) format('woff2'),
        url(/fonts/Raleway-Bold.ttf) format('truetype');
      
  font-weight: 700;
  font-style: normal;
}